$color_primary: #55c595;
$color_red: #ff5252;
$color_blue_500: #3f6fff;
$color_blue_200: #88b6ff;
$color_blue_150: #829bf5;
$color_blue_100: #c3cff5;
$color_pink: #ff95ac;
$color_black: #303030;
$color-white: white;
$color-gray: #999999;
$color-border: #e5e7eb;
$color-violet: #7d47ef;
$color-gray-66: #666666;
$color-gray-100: #e8e8ea;
$color-gray-99: #999999;
$color-gray-cc: #cccccc;
$color-gray-dd: #dddddd;
$color-gray-f0: #f0f0f0;
$color-black-22: #222222;
$color-black-33: #333333;
$color-black-11: #111111;
$color-orange: #f8954b;
$color-orange-05: #ffe2cc;
$color-yellow-200: #fff799;

//Font
$font_primary: system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font_roboto: 'Roboto', sans-serif;
